:root {
    --primary-color: rgb(255, 255, 255);
    --secundary-color: rgb(245, 245, 245);
    --tertiary-color: rgb(8, 48, 100);
    --fourth-color: rgba(240, 239, 239, 0.9);
    --fifty-color: rgba(222, 222, 222, 0.9);
    --sexty-color: rgba(184, 183, 183, 0.9);

    --font: "Open Sans", sans-serif;
    --font-primary-color: #222222;
    --font-secundary-color: rgb(11, 89, 153);
    --font-tertiary-color: rgb(232, 239, 238);
    --font-fourth-color: #444444;
    
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: rgb(30, 33, 36);/*color mas fuerte*/
        --secundary-color: rgb(41, 45, 48);/*color mas debil*/
        --tertiary-color: rgb(31, 88, 199);/*color de contraste*/
        --fourth-color: rgb(40, 44, 47);
        --fifty-color: rgba(63, 63, 63, 0.9);

        --font: "Open Sans", sans-serif;
        --font-primary-color: #ffffff;
        --font-secundary-color: #06a3ec;
        --font-tertiary-color: rgb(1, 87, 75);
        --font-fourth-color: #d3d3d3;
    }
}
