body {
	font-family: 'Courier New', Courier, monospace;
	text-align: justify;
	color: #212529;
}
h1, h2, h3 {
	color: #004182;
}

.doc-container {
	width: 100%;
	max-width: 1500px;
	margin: auto;
	display: grid;
	grid-template-columns: calc(50% - 30px) 50%;
	gap: 20px;
}
#doc{
	overflow-y: auto;
	padding: 0px 20px ;
	height: 100%;
}
#control {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
}
.container {
	width: 100%;
	max-width: 1500px;
	margin: auto;
}
.container, .doc-container {
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: #f4f4f4;
}

pre {
	margin-top: 20px;
	background: #f1f1f1;
	padding: 10px;
	border: 1px solid #ccc;
	max-height: 500px;
	overflow-y: auto;
}

table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	border-collapse: collapse;
}

table th,
table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

table tbody + tbody {
	border-top: 2px solid #dee2e6;
}

table .table {
	background-color: #fff;
}